:root {
    --dark-color:  #641616; 
    --dark-light: #901414;
    --light-color: #eecaca; 
    --light-light: #fbe8e8;

    --font-family: "Palatino Linotype", "Palatino", "Book Antiqua", serif;
    --font-code: "Monaco", monospace;
}