<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organic Chemistry: {{ page.title }}</title>
    <link rel="shortcut icon" href="/FA25-Orgo-Greenberg/img/logo.png">
    <link rel="stylesheet" href="/FA25-Orgo-Greenberg/assets/css/variable.css">
    <link rel="stylesheet" href="https://bear-resort.github.io/assets/css/style.css">
    <script type="text/javascript"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
<body>
  <div class="topnav" style="text-align: center;">
    <span class="logo"> <img src="/FA25-Orgo-Greenberg/img/logo.png" style="vertical-align: middle; height: 25px; width: 25px" alt="logo"></span> &nbsp; PILOT Learning for <i>Organic Chemistry: Greenberg</i> &nbsp; &nbsp;  
    <a href="/FA25-Orgo-Greenberg/index.html" id="home">Home</a> | 
    <a href="/FA25-Orgo-Greenberg/psets.html" id="psets">Problem Sets</a> |
    <a href="/FA25-Orgo-Greenberg/resources.html" id="resources">Resources</a> |
    <a href="/FA25-Orgo-Greenberg/contacts.html" id="contacts">Contacts</a>
  </div>
  <div id="dynamic-island" style="display: none;"></div>
  <div id="content" style="text-align: left;">
    <br><br><br>
    <div style="text-align: center;">
        <div class="largertitle">{{ page.title }}</div>
    </div>
    <br>
    {{ content }}
    <br><br><br>
  </div>
  <div class="botnav" style="text-align: center;">
    If you find any questions, please contact us via <a href="/FA25-Orgo-Greenberg/contacts.html">Contacts</a> tab.
  </div>

    <script>
      document.querySelectorAll('a').forEach(link => {
        if (link.closest('.topnav')) return;

        const href = link.getAttribute('href');
        if (href && href.toLowerCase().endsWith('.pdf')) {
          link.setAttribute('target', '_blank');
        }
      });
      const textarea = document.getElementById('inputBox');

      function adjustHeight() {
          textarea.style.height = 'auto';
          textarea.style.height = textarea.scrollHeight + 'px';
      }

      // Event listener
      textarea.addEventListener('input', adjustHeight);

      adjustHeight();</script>
<script type="text/javascript"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>

<script> window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      },
      options: {
        renderActions: {
          addMenu: []
        }
      },
      chtml: {
        scale: 1.0,
        matchFontHeight: true
      }
    };
</script>

<script>
  const pageName = "{{ page.title }}";
  const pageCate = "{{ page.category }}";
</script>

<script src="/FA25-Orgo-Greenberg/assets/js/active.js"></script>

<script src="/FA25/assets/js/redirect.js"></script>

<script src="http://bear-resort.github.io/assets/js/dynamic-island.js"></script>

</body>
</html>
